.sidebyside {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    width: 100%;  
}
   

  
  .sidebyside__inner {  
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  
  .sidebyside__half {
    flex: 0 0 50%;
    min-height: 700px;
    height: auto;
    order: 2;
  }
  
  .sidebyside__text {
    margin: 15% 10% 15%  10%;
    color: $primary-text;
  }
  
.sidebyside__half--image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  
  }
  
  .sidebyside__half--imageright {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  @media only screen and (max-width: 1200px) and (min-width: 100px) {
    .sidebyside__half--image {
      order: 1;
    }
    .sidebyside__half {
      flex: 0 0 100%;

      min-height: 100vh;
    }
    .sidebyside__half--image {
      height: 100vh;
      background-size: cover;    
      background-repeat: no-repeat;
      background-position: right;
    }
  }  