<div class="sidebyside">
    <div class="sidebyside__inner ">
        <div class="sidebyside__half sidebyside__half--imageright" style="background-image:url(/dist/images/demo_image.jpg)"></div>
        <div class="sidebyside__half">
            <div class="sidebyside__text">
                <div class="title-block">
                    <div class="title-block__pretitle">
                        <span>Lorem ipsum dolor sit amet</span>

                    </div>
                    <div class="title-block__title">
                        <h2>Lorem ipsum dolor sit amet</h2>
                    </div>
                    <div class="title-block__subtitle">
                        <span>Lorem ipsum dolor sit amet</span>
                    </div>
                    <div class="sidebyside__bodytext">
                        <p>
                            Lorem ipsum dolor sit amet, lectus sodales tincidunt elit ut est, faucibus donec vitae, architecto donec, accusamus posuere
                            nonummy aliquip magnis cras. Bibendum est nonummy morbi nam. Id justo, lacus cursus enim pellentesque
                            per suspendisse, ipsum vestibulum fusce sagittis maecenas libero curae, morbi vitae aenean velit
                            quisque. Fringilla tempus hendrerit nulla sodales, donec ac. Turpis gravida, metus volutpat dolor
                            fusce varius pretium neque, bibendum natoque integer non quis leo, nec habitant vestibulum ultricies
                            mauris tristique. In a egestas. In phasellus convallis, nec posuere quisque quam lorem vel quis,
                            condimentum sit egestas. Odio dui proin senectus, euismod donec nam, ut libero est tristique
                            nulla non vivamus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, lectus sodales tincidunt elit ut est, faucibus donec vitae, architecto donec, accusamus posuere
                            nonummy aliquip magnis cras. Bibendum est nonummy morbi nam. Id justo, lacus cursus enim pellentesque
                            per suspendisse, ipsum vestibulum fusce sagittis maecenas libero curae, morbi vitae aenean velit
                            quisque. Fringilla tempus hendrerit nulla sodales, donec ac. Turpis gravida, metus volutpat dolor
                            fusce varius pretium neque, bibendum natoque integer non quis leo, nec habitant vestibulum ultricies
                            mauris tristique. In a egestas. In phasellus convallis, nec posuere quisque quam lorem vel quis,
                            condimentum sit egestas. Odio dui proin senectus, euismod donec nam, ut libero est tristique
                            nulla non vivamus.
                        </p>
                    </div>

                </div>                
            </div>




        </div>

    </div>
</div>