$local-fontweight-ultralight: $fontweight-ultralight;
$local-fontweight-light: $fontweight-light;
$local-fontweight-normal: $fontweight-normal;
$local-fontweight-bold: $fontweight-bold;
$local-font-size-small: $font-size-small;
$local-font-size-basic: $font-size-basic;
$local-font-size-heading: $font-size-heading;
$local-font-size-lineheight: $font-size-lineheight;
$local-fontstyle-heading: $fontstyle-heading;
$local-fontstyle-body: $fontstyle-body;
$primary-white: $primary-white;
$primary: $primary;
p {
  font-family: $local-fontstyle-body;
  font-size: $local-font-size-basic;
  line-height: $local-font-size-lineheight;
  font-weight: $local-fontweight-light;
  b {
    font-weight: $local-fontweight-bold;
  }
}

.background--none {
  h1 {
    font-family: $local-fontstyle-heading;
    font-size: ($local-font-size-heading * 1.2);
  }
  h2 {
    font-family: $local-fontstyle-heading;
    font-size: $local-font-size-heading;
  }
  h3 {
    font-family: $local-fontstyle-heading;
    font-size: ($local-font-size-heading * 0.8);
  }
  h4 {
    font-family: $local-fontstyle-heading;
    font-size: ($local-font-size-heading * 0.6);
  }
}

.background--primary {
  background-color: $primary;
  p {
    color: $primary-white;
    b {
      color: $primary-white;
    }
  }
  h1 {
    color: $primary-white;
  }
  h2 {
    color: $primary-white;
  }
  h3 {
    color: $primary-white;
  }
  h4 {
    color: $primary-white;
  }
}
