$fontweight-ultralight: 100;
$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-bold: 700;
$font-size-small: 12px;
$font-size-basic: 16px;
$font-size-heading: 20px;
$font-size-lineheight: (16px*1.8);
$fontstyle-heading: 'Montserrat', sans-serif;
$fontstyle-body: 'Open Sans', sans-serif;
$primary: #f5c600;
$primary-light: #FFDD4C;
$primary-second: #FFCE00;
$primary-dark: #3e3e3e;
$primary-white: #ffffff;
$primary-text: $primary-dark;