$fontweight-ultralight: 100;
$fontweight-light: 300;
$fontweight-normal: 300;
$fontweight-bold: 700;
$font-size-small: 15px;
$font-size-basic: 18px;
$font-size-heading: 30px;
$font-size-lineheight: ($font-size-basic*1.9);
$fontstyle-heading: 'Montserrat', sans-serif;
$fontstyle-body: 'Open Sans', sans-serif;
$primary: #f5c600;
$primary-light: #FFDD4C;
$primary-second: #FFCE00;
$primary-dark: #3e3e3e;
$primary-white: #ffffff;
$primary-text: $primary-dark;