<div class="sidebyside_social">
    <div class="sidebyside_socialicon">
        <div class="sidebyside_socialicon_inner">
                <a href="#">
            <i class="fab fa-twitter"></i>
                </a>
        </div>
    </div>
    <div class="sidebyside_socialicon">
        <div class="sidebyside_socialicon_inner">
            <a href="#">
            <i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="sidebyside_socialicon">
        <div class="sidebyside_socialicon_inner">
                <a href="#">
            <i class="fab fa-facebook"></i>
                </a>
        </div>
    </div>
</div>